@import "tailwindcss"; 

@font-face {
  font-family: 'Sora';
  src: url('./assets/fonts/Sora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family:'Bruno-Ace';
  src:url('./assets/fonts/BrunoAce-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:'Inter';
  src:url('./assets/fonts/Inter-VariableFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Isotok';
  src:url('./assets/fonts/IstokWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@theme {
  --color-tg-primary: #FFFFFA;
  --color-tg-white: #F8F8F8;
  --color-tg-gray:#9E9E9E;
  --color-tg-dark: #020B14;
  --color-tg-green: #3ce034;
  --color-tg-turqoise: #01d2d4;
  --color-tg-blue: #1E3140;

}